/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 65em) {

    nav {
        background: #cc0000;
        background: -moz-linear-gradient(top, #109010 0%, #109010 100%);
        background: -webkit-linear-gradient(top, #109010 0%, #109010 100%);
        background: linear-gradient(to bottom, #109010 0%, #109010 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000', GradientType=0);
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;
    }

    /* main */
    main section.forecast #forecastDIV {
        display: grid;
    }
    .msg{
        text-align: center;
    }
    /* section gallery */
    div.gridGallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        
    }
    .gridGallery figure{
         align-self: center;
         justify-self: center;
    }
    div.container {
        display: block;
        text-align: center;
    }

    /* end section gallery */
    form label.sbs {
        padding: .4rem 0;
    }

    main .contactus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr wrap;
        padding: 20px;
    }

    main .contactus h2 {
        text-align: center;
    }
    main .contactus .imgLocation {
        display: flex;
        flex-wrap: 1fr 1fr wrap;
    }
    main .contactus .infoLocation{
        display: flex;
        flex-wrap:  wrap;
    }
    main .contactus iframe {
        width: 400px;
    }
    /* Home page  

    .town {
        grid-template-columns: 1fr 1fr 1fr;
    }
    */
    /* Home page 
    section{
        flex: 3;
    }
    .media {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .media.flipped {
        flex-direction: row-reverse;
    }

    .media .content {
        padding: 10px;
    }
End Home Page */


    /*
    section {
        max-width: 900px;
        margin: .5rem auto;
        border: 1px solid #bbb;
        background-color: #eee;
    }
    article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    article:nth-child(odd) img {
        grid-column: 1;
        
    }
    article:nth-child(odd) .data {
        grid-column: 2;
        grid-row: 1;
    }
    img {
        width: 30%;
        padding: 0;
    }
    */
}

/*end large */