
body {
    background: white;
}


main {
    background: blue;
}
main .cards{
    background-color: bisque;
    text-align: center;
    border-style: solid;
}
h1{
    text-align: center;
}
 .img{
    align-items: center;
}