
body {
    background: white;
}


main .cards{
    background-color: bisque;
    text-align: center;
    border-bottom-style: solid;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
 .img{
    align-items: center;
}
