/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{width: auto;}
header h1{font-size: 2rem;}
header h2{font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

nav li {
    float: left;
    width: 25%;
}

main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */